<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    <add key="connectionString" value="Server=MGATEWOOD01\MIKEG_SQL_SERVER;Database=InformaParser;User ID=sa;Password=pr0@gent;Trusted_Connection=False;"/>-->
    <add key="connectionString" value="Data Source=MGATEWOOD01\MIKEG_SQL_SERVER;Initial Catalog=InformaParser;User ID=ef_admin;Password=pr0@gent;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add key="MonitoredFolder" value="c:\Informa\excel"/>
    <add key="ArchiveFolder" value="c:\Informa\Processed"/>
  </appSettings>
</configuration>